<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <p style="font-size: large;">
                        " Nous connectons la diaspora <br>
                        aux entrepreneurs des territoires émergents "
                    </p>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center"></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>
    <div class="main">
        <div class="section">
            <div class="container">
                <div class="row">



                    <p style="font-size: large;">APRIMS est un réseau international des professionnels et des
                        entrepreneurs des territoires émergents.
                    </p>

                    <br>
                    <strong style="font-size: large;"> Notre mission est de connecter les professionnels et les
                        entrepreneurs de la diaspora afin d’agir pour contribuer au développement économique des
                        territoires émergents.

                    </strong>










                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><strong style="font-size: large;">Les influenceurs d'opinion publique</strong>
                                <p>Nous identifions et mobilisons la diaspora, ainsi que faisons du lobbying dans
                                    différentes villes à travers le monde. </p>
                            </li>
                            <li><strong style="font-size: large;">Les professionnels d'un secteur économique</strong>
                                <p>Nous mettons en contact des professionnels et des entrepreneurs 
                                    dans le business dans de nombreuses villes.</p>
                            </li>
                            <li><strong style="font-size: large;">Les entrepreneurs et les porteurs de projet</strong>
                                <p>Nous offrons notre expertise pour aider les entreprises à faire le business 
                                    dans la diaspora et dans les territoires émergents.  </p>
                            </li>
                            <li><strong style="font-size: large;">La création d'emplois dans l'économie</strong>
                                <p>Nous développons des projets qui contribuent à la création d'emplois
                                     et à la croissance économique pour les territoires. </p>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-6">
                        <img src="../../assets/img/world.png">
                    </div>
                </div>
            </div>
            <div class="section section-notifications" id="whoareus">
                <div class="container">
                    <div class="tim-title">
                        <h3>Qui somme nous ?</h3>
                    </div>
                    <p style="font-size: large;">APRIMS est un réseau international des professionnels et des
                        entrepreneurs des territoires émergents.
                    </p>

                    <br>
                    <strong style="font-size: large;"> Notre mission est de connecter les professionnels et les
                        entrepreneurs de la diaspora afin d’agir pour contribuer au développement économique des
                        territoires émergents.

                    </strong>
                    <h3>Notre équipe :</h3>
                    <br>
                    <div class="row">
                    <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                        <img src="../../assets/img/User-blue-icon.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                        <p class="text-center">Ruth</p>
                    </div>
                    <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                        <img src="../../assets/img/User-blue-icon.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                        <p class="text-center">Kenol</p>
                    </div>
                    <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                        <img src="../../assets/img/User-blue-icon.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                        <p class="text-center">Hubert</p>
                    </div>
                </div>
                </div>
            </div>

            <div class="section section-notifications" id="ambitions">
                <div class="container">
                    <div class="tim-title">
                        <h3>Nos Ambitions</h3>
                    </div>
                    <p style="font-size: large;">Le capital humain de la diaspora est un avantage
                         majeur pour le développement économique des territoires émergents.
                    </p>

                    <br>
                    <strong style="font-size: large;">Nous vous invitons à contribuer votre connaissance 
                        et expérience professionnelle aux projets de développement de ces territoires.

                    </strong>
                    <div class="row">
                    <br>
                </div>
                    <div class="row">
                    <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                        <img src="assets/img/ambitions.png" >
                        
                    </div>
                    
                </div>
                </div>
            </div>
            <div class="section section-notifications" id="missons">
                <div class="container">
                    <div class="tim-title">
                        <h3>Nos Missions</h3>
                    </div>
                    <p style="font-size: large;">L’expertise professionnelle est un atout pour le développement.
                    </p>

                    <br>
                    <ul>
                        <li>
                            <p>Identifier et mobiliser la diaspora, ainsi que faire du lobbying. </p>
                        </li>
                        <li>
                            <p>Connecter les professionnels et les entrepreneurs en Afrique, et dans le reste du monde.</p>
                        </li>
                        <li>
                            <p>Proposer notre expertise dans l’accompagnement des entreprises.</p>
                        </li>
                        <li>
                            <p>Organiser des programmes de formation qui contribuent au développement professionnel. </p>
                        </li>
                        <li>
                            <p>Développer des projets qui contribuent à la croissance économique et à la création d’emplois. </p>
                        </li>
                    </ul>
                    <div class="row">
                    <br>
                </div>
                    <div class="row">
                    <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                        <img src="../../assets/img/missions.png" >
                        
                    </div>
                    
                </div>
                </div>
            </div>
            <div class="section section-notifications" id="contact">
                <div class="container">
                    <div class="tim-title">
                        <h3>Contactez nous</h3>
                    </div>
                    <div class="row">

                    <div class="col-md-6">
                        <br>
                        <p style="font-size: large;">4144 W Misty Willow Ln, Glendale, <br>AZ 85310, États-Unis
                        </p>
                        <p > +1 505-319-5862 
                        </p>
                        <p ><a href="mailto:contact@aprims.com">contact@aprims.com</a> 
                        </p>

                        </div>
                    
                        <div class="col-md-6">
                            <h4>Envoyer un message</h4>
                            <br>
                            <form id="form"  (ngSubmit)="onmailFormSubmit()">
                                <label>Nom et Prénom</label>
                                <div class="input-group form-group-no-border" >
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                    </span>
                                  </div>
                                <input type="text" id="name" class="form-control" placeholder="Nom et Prénom" name="name" >
                                </div>
                                <label>email</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                      </span>
                                    </div>
                                <input type="text" id="email" class="form-control" placeholder="Email" name="email" >
                                </div>
                                <label>Votre message</label>
                                <div class="input-group form-group-no-border" >
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                      </span>
                                    </div>
                                <textarea type="text" class="form-control" id="message" placeholder="votre message" rows="5" name="message"></textarea>
                                </div>
                                <button class="btn btn-danger btn-block btn-round" type="submit" >envoyer</button>

                                </form>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.1820082136355!2d-112.15233588491738!3d33.70423898070211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b660c8df16a03%3A0xd17337096c6e11!2s4144%20W%20Misty%20Willow%20Ln%2C%20Glendale%2C%20AZ%2085310%2C%20USA!5e0!3m2!1sen!2sfr!4v1586895014570!5m2!1sen!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>
                    </div>

                    
                </div>
            </div>
            
        </div>
    </div>